In [4]:
import  pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("CREDIT CARD USERS DATA.csv")

In [11]:
df.describe()

,region,gender,age,agecat,ed,edcat,jobcat,union,employ,empcat,...,owncd,ownpda,ownpc,ownipod,owngame,ownfax,news,response_01,response_02,response_03
count,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.0000,5000.00000,5000.000000,5000.0000,...,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,3.00140,0.503600,47.025600,4.238800,14.543000,2.672000,2.7528,0.15120,9.730400,2.9326,...,0.932800,0.201000,0.63280,0.479200,0.474800,0.178800,0.472600,0.083600,0.129800,0.102600
std,1.42176,0.500037,17.770338,1.308785,3.281083,1.211738,1.7379,0.35828,9.690929,1.4533,...,0.250393,0.400788,0.48209,0.499617,0.499415,0.383223,0.499299,0.276815,0.336117,0.303466
min,1.00000,0.000000,18.000000,2.000000,6.000000,1.000000,1.0000,0.00000,0.000000,1.0000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.00000,0.000000,31.000000,3.000000,12.000000,2.000000,1.0000,0.00000,2.000000,2.0000,...,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.00000,1.000000,47.000000,4.000000,14.000000,2.000000,2.0000,0.00000,7.000000,3.0000,...,1.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.00000,1.000000,62.000000,5.000000,17.000000,4.000000,4.0000,0.00000,15.000000,4.0000,...,1.000000,0.000000,1.00000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,5.00000,1.000000,79.000000,6.000000,23.000000,5.000000,6.0000,1.00000,52.000000,5.0000,...,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [15]:
file = open("Output.csv" , "w")
file.write(df.describe().to_string())

13643

In [48]:
for i in range(0,5000):
    if(df.lntollmon[i] == "#NULL!"):
        df.lntollmon[i] =  df.tollmon[i] + 1

/home/xerous/anaconda3/envs/my_env/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
for i in range(0,5000):
    if(df.lntollten[i] == "#NULL!"):
        df.lntollten[i] =  df.tollten[i] + 1
    if(df.lnequipmon[i] == "#NULL!"):
        df.lnequipmon[i] =  df.equipmon[i] + 1
    if(df.lnequipten[i] == "#NULL!"):
        df.lnequipten[i] =  df.equipten[i] + 1
    if(df.lncreddebt[i] == "#NULL!"):
        df.lncreddebt[i] =  df.creddebt[i] + 1
    if(df.lninc[i] == "#NULL!"):
        df.lninc[i] =  df.income[i] + 1
    if(df.lnlongmon[i] == "#NULL!"):
        df.lnlongmon[i] =  df.longmon[i] + 1
    if(df.lnlongten[i] == "#NULL!"):
        df.lnlongten[i] =  df.longten[i] + 1
    if(df.lnothdebt[i] == "#NULL!"):
        df.lnothdebt[i] =  df.debtinc[i] + 1

/home/xerous/anaconda3/envs/my_env/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/xerous/anaconda3/envs/my_env/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/xerous/anaconda3/envs/my_env/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys